body {
    margin: 0;
    font-family: sans-serif;
    background: #222;
    color: #ddd;
    text-align: center;
  }
  .App{
    width: 960px;
    margin: 0 auto;
  }
  h1{
    color: #ffff57;
    font-size: 4em;
    letter-spacing: 2px;
  }

  
  .content{
    text-align: left;
  }

  .card{
    padding: 8px 16px;
    background: #1b1b1b;
    margin: 16px 0;
    border-radius: 20px;
  }



  .card h3{
    margin: 10px 0;
    color: #ffff57
  }